.articleComponents {
  display: flex;
  flex-direction: column;
  background-color: black;

  /* justify-content: center;
    align-items: center; */
}
.buttonGrp {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
.articleComponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article_searchBar {
  padding-bottom: 150px;
}
.insideComp {
  padding-bottom: 200px;
}

.body{
  background-color: black;
}